name: Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  quality-checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: yarn update
        run: |
          yarn
      - name: prettier
        run: |
          yarn prettier --check .
      - name: eslint
        run: |
          yarn eslint src
